* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  background-color: #252b42;
}
.container {
  max-width: 1045px;
}
h1 h2 h3 h5 {
  font-family: "Martel", sans;
  font-weight: 700;
  color: gray;
}
h1 {
  font-size: 58px;
  font-weight: 900;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 14px;
}
.header {
  background-image: url(./img/background.png);
  height: 823px;
  background-repeat: no-repeat;
}
.container {
  max-width: 987px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}
.navbar a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin: 7px;
  font-size: 12px;
}
.rd {
  margin-left: 181px;
}
.navbar img {
  margin-left: 22px;
}
.carde h1 {
  justify-content: center;
  color: #ffffff;
  align-items: center;
  margin-left: 195px;
  margin-top: 309px;
}
.carde p {
  margin-left: 195px;
}
.carde img {
  margin-left: 915px;
  margin-top: -460px;
}
.main {
  background-color: #252b42;
}
.main h2 {
  text-align: center;
}
.main p {
  text-align: center;
}

.filt {
  margin: 281px;
  margin-top: 50px;
  filter: blur(0, 0, 0, 0.5) #252b42;
}
.cover {
  background-image: url(./cover.png);
  width: 1440 px;
  height: 821px;
  background-repeat: no-repeat;
}

.h2 {
  width: 458px;
  height: 50px;
  left: 0px;
  top: 64px;
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.2px;
}
.foterdiv {
  background-color: #fafafa;
  height: 142px;
  left: 0px;
  right: 0px;
  top: 681px;
  margin-top: -33px;
}
.h3 {
  color: #252b42;
}
.p {
  color: #737373;
  text-align: start;
  width: 250px;
  height: 20px;
  margin-top: -15px;
}

.card {
  border-radius: 10px;
  border: 1px solid black;
  width: 328px;
  margin: 2rem;
  height: 385px;

  background-color: white;
}
.container-card {
  display: flex;
  color: #737373;
  margin: 2rem;
}
.container-card section {
  background-color: white;
}
.card img {
  height: 72px;
  width: 72px;
  left: 50px;
  top: 30px;
  border-radius: 200px;
}
.card h5 {
  height: 24px;
  width: 145px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.container-card .card div {
  background-color: #f6e4d7;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section {
  height: 253px;
  width: 328px;
  top: 132px;
  border-radius: 11px;
  padding: 30px 50px 30px 50px;
}
.who {
  text-align: center;
}

.container-card-say {
  display: flex;
  color: #737373;
  margin: 2rem;


}
.container-card-say .card-say div{
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 35px;
  width: 327px;
  height: 244px;


  justify-content: space-evenly;



}

.container-card-say .card-say div h6{
  color: #737373;
}

.container-card-say .card-say div a{
  color:#D0A144 ;
  text-align: left;
  text-decoration: none;
  width:  88px;
  height: 24px;
}
.container-card-say .card-say div .say{
  margin-left: 35;
  margin-top: -20px;
  margin-bottom: 10px;
  align-items: flex-start;
  flex-direction: row; 
   align-items: center;
  padding: 30px 35px;
}
.container-card-say .card-say div{

  

}
